//----------------------------------------------------//
// VAVIABLES                                          //
//----------------------------------------------------//
// Fonts
//----------------------------------------------------//
$sans: 'Source Sans Pro', 'arial', sans-serif;
$moon: 'ico-moon';


// Font Size
//----------------------------------------------------//
$lg_fs: 30px;
$md_fs: 22px;
$sm_fs: 18px;


// Color
//----------------------------------------------------//
$main_color: #383838;
$red_color: #e76e66;
$white_color: #fff;
$dark_color: #000;


// Backgrounds
//----------------------------------------------------//
$white_bg: #fff;
$grey_bg: #ccc;
$dark_bg: #232323;
$green_bg: #209369;


// Borders
//----------------------------------------------------//
$grey_border: #2e2e2e;
$light_grey_border: #e1e1e1;








